{% extends "AdminAdminBundle:Admin:headerw.html.twig" %}

{% block body %}

<script type="text/javascript">

 function deletefunc(id, gothra){
	var con = confirm('Are you sure to delete '+gothra+' ? The record once deleted cannot be retrived back');
	if(con){
		var url = "{{ path('admin_admin_deletegothra',{'id': "ID"}) }}";
		var urlset = url.replace('ID', id);
			window.open(urlset,"_self");
		return true;
	}else{
		return false;
	}
 }
</script>

<div class="container">
<div class="page-header">
        <h4>Gothra Details</h4>
</div>
<div class="row">
	<a class="btn btn-primary pull-right" href="{{ path('admin_admin_gothraadd') }}">Add Gothra</a>
</div>
<div class="table-responsive user-details">

<table class="table table-bordered">
        <thead>
        <tr>
                <th>Gothra</th>
                <th>Update</th>
                
        </tr>
        </thead>
        <tbody>
        {% for d in data %}

        <tr>
                <td>{{ d.parameter }}</td>
                <td><a href="{{ path('admin_admin_editgothra',{'id' : d.id}) }}">Edit</a> | <a href="#" onclick="deletefunc('{{ d.id }}', '{{ d.parameter }}')">Delete</a></td>
        </tr>


        {% endfor %}</tbody>
</table>
</div>
</div>

<div class="container">
<div>Now showing : {{ from }} to {{ to }} records</div>
<div>{% set page_count = -count//10 %}
<ul class="pagination">

  <li><a href="{{ path('admin_admin_gothra',{'offset':1}) }}">&laquo;</a></li>
{% for i in 1..-(page_count) %}

  <li><a href="{{ path('admin_admin_gothra',{'offset':i}) }}">{{ i }}</a></li>

{% endfor %}

 <li><a href="{{ path('admin_admin_gothra',{'offset':-(page_count)}) }}">&raquo;</a></li>
</ul>
</div>
</div>


</div>


{% endblock %}


