{% extends '::base.html.twig' %}

{% block body %}

<div class="top-header">
   		<div class="container">
        	<div class="col-md-6">
            	<a class="navbar-brand" href="#"><img alt="" src="{{ asset ('img/logo.jpg') }}"></a>
            </div>
            <div class="col-md-6 login-block">
            	
            
            </div>
        </div>
   </div>


<div class="inner-block-cont"> 
	<div class="container">
		<div class="confirm-password">
			<h1>Choose Password</h1>
			{{ form_start(form) }} {{ form_widget(form.password) }}
			{% for fieldpass in form_widget(form.password) %}
				<div class="form-group">{{ fieldpass }}</div>
			{% endfor %}
			{{ form_end(form) }}			 
		</div>
	</div>
</div>

<div class="footer">
	<div class="container">
    	<div class="col-md-8"><p>© 2014 Parivartree | About | Privacy Policy | Terms & Conditions | FAQs | Campaigns</p></div>
        <div class="col-md-4 follow">Follow us</div>
    	
    	
    </div>
	
</div>
{% endblock %}
